<div class="card-container" [id]="cardInfo.primaryTag">
    <div class="slide-up-down-div">
        <div class="div-1"></div>
        <div class="div-2"></div>
        <div class="div-3"></div>
    </div>
    <img [src]="cardInfo.postImageUrl" alt="cardInfo.title" class="card-image" loading="lazy">
    <div class="card-content">
        <div class="read-time-div">
            <i>{{cardInfo.publishedAt | date: 'MMM dd, yyyy'}}</i>&nbsp;.&nbsp;<i>{{cardInfo.readTime}} min read</i>
        </div>
        <span class="card-title">
            {{cardInfo.title}}
        </span>
        <div class="card-hover-content">
            <span class="card-text-content">
                {{cardInfo.content}}
            </span>
            <a class="card-view-more-link">Read More</a>
        </div>
        <button class="btn card-view-more">View More</button>
    </div>
</div>