.section-container {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;

    .section-title {
        font-weight: 600;
        font-size: 1.6rem;
        color: blue;
    }

    .section-cards {
        display: flex;
        flex-wrap: wrap;
    }

    .section-view-more {
        margin-top: 2rem;
        align-self: center;
    }
}